.idea/
.vscode/
target/
*.iml
*DS_Store
TestFile
logs/
*.log
*.pem
**/test/java/com/databricks/client/jdbc/DatabricksDriverExamples.java
dependency-reduced-pom.xml
/memory-reports-no-arrow/
/memory-reports/
/memory-report/
